dotenv_if_exists .env
dotenv_if_exists .env.local

: "${DEVSHELL:=$(test -t 0 && echo "terminal")}"
: "${GITHUB_TOKEN:=$(gh auth token)}"

export GITHUB_TOKEN

use flake ."${DEVSHELL:+#}${DEVSHELL}" --accept-flake-config
